<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Rich Text Editor With Quill</title>

    <!-- Include the Quill stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />

    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

    <!-- Include the js file quill-editor.js -->
    <script src="/public/js/quill-editor.js"></script>
</head>
<body>
    <h1>Go Rich Text Editor With Quill</h1>
    <form id="form" method="POST">
        <div>
            <div id="editor"></div>
            <input id="form-content-input" type="hidden" name="form-content" />
        </div>
        <br/>
        <div>
            <input type="submit" name="form-submit" value="Send your content" />
        </div>
    </form>
</body>
</html>